*{
    font-family: Helvetica; color:#4c4f69;
}

body{
    background-color:#eff1f5;
}

.centrados{
    text-align:center; 
}

.titulos{
    font-weight: bold; font-size: 20px;
    text-transform: uppercase;
}

.texto{
    padding-left: 3%; padding-right: 3%;
}

h1{
    color: #dc8a78;
}